@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CascadingValue Value="@PersonFromMainLayout">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MainLayoutPerson PersonFromMainLayout = new MainLayoutPerson { FirstName = "Marco", LastName = "Uitendaal", BirthDate = new DateOnly(2000, 1, 1) };
}