<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorHTML</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="2divs">
                <span class="" aria-hidden="true"></span> 000.Two divs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bcp">
                <span class="" aria-hidden="true"></span> 001. Priority and colors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Combinators">
                <span class="" aria-hidden="true"></span> 002. Combinators
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/boxmodel">
                <span class="" aria-hidden="true"></span> 003. CSS BoxModel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/flexbox">
                <span class="" aria-hidden="true"></span> 004. CSS FlexBox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/grid">
                <span class="" aria-hidden="true"></span> 005. CSS Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bootstrappositioning">
                <span class="" aria-hidden="true"></span> 006. Bootstrap Positioning
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bootstrapsizeandbreakpoints">
                <span class="" aria-hidden="true"></span> 007. Bootstrap Size and breakpoints
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bootstrapgridcolumns">
                <span class="" aria-hidden="true"></span> 008. Bootstrap GridColumns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bootstrapflexbox">
                <span class="" aria-hidden="true"></span> 009. Bootstrap Flexbox
            </NavLink>
        </div>
        
    </nav>

</div>


