@page "/bootstrapflexbox"

<div>
    <h3>_009_BootstrapFlexbox</h3>

                                 
                                              
    <div>Just d-flex</div>               
    <div class="d-flex">                            
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
        <div class="bg-yellow text-black p-3">Flex Item</div>
    </div>

    <div>Just d-flex column</div>
    <div class="d-flex flex-column">
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
    </div>

    <div>D-flex column that turns into row after medium</div>
    <div class="d-flex flex-column flex-md-row">
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
        <div class="bg-primary text-black p-3">Flex Item</div>
    </div>

    <div>D-flex row with wrap</div>
    <div class="d-flex flex-wrap">
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
    </div>

    <div>D-flex with justify center</div>
    <div class="d-flex justify-content-center">
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
    </div>

    <div>D-flex with column and block justify-content-center align-items-center and one with a will of its own</div>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height:300px">
        <div class="bg-light text-black p-3 align-self-end">Except me!</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
    </div>

    <div>Explanatory text</div>
    <div class="">
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
        <div class="bg-light text-black p-3">Flex Item</div>
    </div>

</div>
@code {

}
